@model Asp.MVCCoreWeb.Models.Tournaments

@{
    ViewData["Title"] = "Details";
}

@Html.HiddenFor(m => m.Id)

<div>
    <br />
    <div class="card text-center">
        <div class="card-header">
            <img src="~/icons/Screenshot_1.png" class="img-fluid" />

        </div>
        <div class="card-body">
            <h5 class="card-title">@Model.title</h5>

            <p class="card-text">
                Decisions taken by the Admin Team will be final and shall not reverted under any circumstances.

                Players need to take screenshots and report it to the Admin Team whenever asked for. If not, that player/team shall be disqualified.
            </p>
            <div class="row" style="font-size:x-large">
                <div class="col-sm">
                    <i class="fas fa-clock"></i><br />
                    @Model.Date_Time
                </div>
                <div class="col-sm">
                    <i class="fas fa-award"></i><br />
                    @Model.Prize
                </div>
                <div class="col-sm">
                    <i class="fas fa-users"></i><br />
                    @Model.Slots
                </div>
            </div>

            <div class="col-sm">
                @{ if (Model.Date_Time < DateTime.Now)
                    {
                        <div class="alert alert-danger" role="alert">
                            Match was over!
                        </div>
                    }
                    else
                    {
                        if (ViewBag.isjoined)
                        {
                            <button class="btn btn-success disabled" onclick="">Joined</button>

                        }
                        else
                        {
                            <button class="btn btn-success" onclick="javascript:location.replace('/Payment/startpayment/@Model.Id')">Join</button>

                        }
                    }
                }
                <label>Go back to <a href="/" class="">Home</a></label>

            </div>

            <div class="text-info" role="alert">
               Note : Room-Id and password will be sent to your joined menu.
            </div>

        </div>
        <div class="card-footer text-muted">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Players</th>
                        <th scope="col">Country</th>
                    </tr>
                </thead>
                <tbody id="tablebody">
                </tbody>
            </table>
        </div>
    </div>

</div>

@section scripts {
    <script src="~/js/details.js"></script>
    <script>


    </script>

}