@model Asp.MVCCoreWeb.Models.Tournaments

@{
    ViewData["Title"] = "Details";
}


@Html.HiddenFor(m => m.Id)
<div>
    <br />
    <div class="card text-center">
        <div class="card-header">
            <img src="~/icons/Screenshot_1.png" class="img-fluid" />

        </div>
        <div class="card-body">
            <h5 class="card-title">@Model.title</h5>

            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="row" style="font-size:x-large">
                <div class="col-sm">
                    <i class="fas fa-clock"></i><br />
                    @Model.Date_Time
                </div>
                <div class="col-sm">
                    <i class="fas fa-award"></i><br />
                    @Model.Prize
                </div>
                <div class="col-sm">
                    <i class="fas fa-users"></i><br />
                    @Model.Slots
                </div>
            </div>

            <div class="col-sm">
                @{ if (Model.Date_Time < DateTime.Now)
                    {
                        <div class="alert alert-danger" role="alert">
                            Match was over!
                        </div>
                    }
                    else
                    {
                        <button class="btn btn-success" onclick="javascript:location.replace('/Payment/startpayment/@Model.Id')">Join</button>

                    }
                }
                <label>Go back to <a href="/" class="">Home</a></label>

            </div>
            @if (!String.IsNullOrEmpty(Model.Roomkey))
            {
                <div class="row"  style="font-size:x-large">

                    <div class="col">
                        <label  class="">Room Key <i class="fas fa-key"></i> </label>
                        <input type="text" readonly class="form-control form-control-lg" value="@Model.Roomkey                       ">
                    </div>
                    <div class="col">
                        <label class="">Password <i class="fas fa-lock-open"></i> </label>
                        <input type="text" readonly class="form-control form-control-lg" value="@Model.Roompassword">
                    </div>

                </div>

            }
            else
            {

                <div class="alert alert-info" role="alert">
                    Rook Id and password will be display here before match start (id you joined the match)
                </div>
            }

        </div>
        <div class="card-footer text-muted">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Players</th>
                        <th scope="col">Country</th>
                    </tr>
                </thead>
                <tbody id="tablebody">
                </tbody>
            </table>
        </div>
    </div>

</div>

@section scripts {
    <script src="~/js/details.js"></script>
    <script>


    </script>

}